<div class="w-50 m-auto mt-5" >

<h2 class="edit">Edit <%= resource_name.to_s.humanize %>🖊</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class:"form-check-label mt-2" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <%
=begin%>
 <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<%
=end%>

  <div class="field">
    <%= f.label :current_password, class:"form-check-label mt-2" %><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password, class:"form-check-label mt-2" %> <br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    <%
=begin%>
 <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
<%
=end%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class:"form-check-label mt-2" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>



  <div class="d-flex justify-content-between">
    <%= f.submit "Update", class:"btn btn-primary mt-3" %>
    <%= button_to "Destroy my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger mt-3" %>
  </div>
<% end %>


<div class="d-flex justify-content-end"><%= link_to "Back", :back, class:"btn btn-secondary mt-3" %></div>

</div>


<style>

.edit{
        color: #212529;
    
    border-color: #dee2e6;
  height:45px;

  width: 500px;
  margin: auto;
  border-radius: 19px;
  text-align: center;
  box-shadow: -1px 15px 50px -12px blue;
}







</style>
