<p style="color: green"><%= notice %></p>

<body>
    <div class="container">
      <div class="drop"><%= @task.name  %></div>
        <div class="project_id"><%= @task.project.name %><sup><%= @project.id %></sup></div>
        <div class="project_name">Project Name</div>
    </div>

    <div class="one-third">
      <div class="stat">
          <% @users.each do |user| %>
            <% if user.id == @task.project.user_id %>
              <%= user.email %>
            <% end %>
          <% end %>
      </div>
      <div class="stat-value">Creator</div>

    </div>
        <h1>
          <%= link_to "Back", new_project_task_path(@project), style: "margin-left: 106px;" %>
        </h1>
  </div>

</body> 
  



<style>
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* body { */
  /* display: flex;
  background-color: #eff0f4;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
  
  
}
.container{
  display: flex;
  position:relative;
  align-items: center;
  justify-content: center;
  align-items: center;
} */



</style>