<p style="color: green"><%= notice %></p>

<%= render @messenger %>

<div>
  <%= link_to "Edit this messenger", edit_messenger_path(@messenger) %> |
  <%= link_to "Back to messengers", message_path(@project) %>

  <%= button_to "Destroy this messenger", @messenger, method: :delete %>
</div>
